In [1]:
import numpy as np

### 1. 파일 가져와서 리스트에 담기

In [2]:
file = open('stu_data.txt', 'r')
datas = []
while True:
    s = file.readline()
    if s == '':
        break
    else:
        line = s.replace('\n','')
        data = line.split(',')
        datas.append(data)
file.close()
datas

[['1', 'aaa', '43', '65', '78'],
 ['2', 'bbb', '76', '98', '54'],
 ['3', 'ccc', '98', '67', '54'],
 ['4', 'ddd', '54', '98', '67'],
 ['5', 'eee', '98', '65', '34']]

### 2. 리스트에 총첨,평균 0으로 초기화

In [3]:
"""
new_datas = []
for i in datas:
    i.append('0')
    i.append('0')
    new_datas.append(i)
new_datas
"""

"\nnew_datas = []\nfor i in datas:\n    i.append('0')\n    i.append('0')\n    new_datas.append(i)\nnew_datas\n"

In [4]:
for i in datas:
    for j in range(0,2):
        i.append('0')
datas

[['1', 'aaa', '43', '65', '78', '0', '0'],
 ['2', 'bbb', '76', '98', '54', '0', '0'],
 ['3', 'ccc', '98', '67', '54', '0', '0'],
 ['4', 'ddd', '54', '98', '67', '0', '0'],
 ['5', 'eee', '98', '65', '34', '0', '0']]

### 3. numpy 배열 생성

In [5]:
arr = np.array(datas)
arr

array([['1', 'aaa', '43', '65', '78', '0', '0'],
       ['2', 'bbb', '76', '98', '54', '0', '0'],
       ['3', 'ccc', '98', '67', '54', '0', '0'],
       ['4', 'ddd', '54', '98', '67', '0', '0'],
       ['5', 'eee', '98', '65', '34', '0', '0']], dtype='<U3')

### 4. 학생 번호만 추출, 이름만 추출, 점수 추출

In [6]:
student_nums = arr[:,0]
print(student_nums)

student_names = arr[:,1]
print(student_names)

student_scores = arr[:, 2:5]
print(student_scores)

['1' '2' '3' '4' '5']
['aaa' 'bbb' 'ccc' 'ddd' 'eee']
[['43' '65' '78']
 ['76' '98' '54']
 ['98' '67' '54']
 ['54' '98' '67']
 ['98' '65' '34']]

### 5. 학생별 총점 계산하여 지정 칸에 할당

In [7]:
ss = student_scores.astype(int)
totals = ss.sum(axis=1)
totals

array([186, 228, 219, 219, 197])

In [8]:
arr[:,5] = totals
arr

array([['1', 'aaa', '43', '65', '78', '186', '0'],
       ['2', 'bbb', '76', '98', '54', '228', '0'],
       ['3', 'ccc', '98', '67', '54', '219', '0'],
       ['4', 'ddd', '54', '98', '67', '219', '0'],
       ['5', 'eee', '98', '65', '34', '197', '0']], dtype='<U3')

### 6. 학생별 평균 계산하여 지정 칸에 할당

In [9]:
avg = totals/3

In [10]:
arr[:,6] = avg
arr

array([['1', 'aaa', '43', '65', '78', '186', '62.'],
       ['2', 'bbb', '76', '98', '54', '228', '76.'],
       ['3', 'ccc', '98', '67', '54', '219', '73.'],
       ['4', 'ddd', '54', '98', '67', '219', '73.'],
       ['5', 'eee', '98', '65', '34', '197', '65.']], dtype='<U3')

### 7. 총점 정렬해서 보기

In [11]:
np.sort(totals)

array([186, 197, 219, 219, 228])